.container {
  width: 100%;
}
.grid-container {
  all: unset;
  display: grid;
  gap: 8px;
  @media (min-width: 992px) {
    grid-template-columns: repeat(var(--_columns), 1fr);
    grid-auto-rows: minmax(300px, auto);
  }
}

.grid-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--_color);
}
